@font-face {
    font-family: calculator;
    src: url(Calculator.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #181818;
    font-family: 'calculator';
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 360px;
    min-width: 180px;
    aspect-ratio: 9/16;
    border: solid 0.75vh #EDEADE;
    border-radius: 12px;
}

#screen {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #323232;
    border: 2px solid black;
    border-radius: 12px;
    margin: 3%;
    padding: 2%;
}

.current-input, .previous-input {
    display: flex;
    flex-direction: row;
    flex: 1;
    font-weight: bold;
    overflow: hidden;
    background-color: #323232;
}

.current-input {
    align-items: flex-end;
    justify-content: flex-end;
    color: #7e4eac;
    font-size: 3em;
}

.previous-input {
    align-items: flex-start;
    justify-content: flex-end;
    color: hsla(272, 38%, 49%, 0.801);
    font-size: 2em;
}

#keys {
    flex: 4;
    display: flex;
    border-radius: 12px;
    margin: 3%;
}